<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-signin-clientid" content="@ViewBag.GoogleSigninClientId" />
    <title>Squirrel</title>
    <link rel="shortcut icon" sizes="96x96" href="/Content/images/ic_launcher.png">
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/libs")
    @RenderSection("scripts", required: false)
</head>
<body spellcheck="false">
    @RenderBody()
</body>
</html>
