<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><span>Smart</span>Reminder</a>
            <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              @Html.ActionLink("Logout", "LogOff", "Account", null, null)
            </p>
            <ul class="nav">
                <li class="">
                    <a href="#">Some</a>
                </li>
                <li class="">
                    <a href="#">Nav</a>
                </li>
                <li class="">
                    <a href="#">Items</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
<div id="body">
    <div class="row-fluid">
        <div class="span12 margin-bottom">
            <button type="button" class="btn btn-large add-reminder" data-bind="click: createReminder, css: { disabled: editing }">
                <span class="icon icon-pencil"></span>Add Reminder</button>
        </div>
    </div>    
    
    <section class="row-fluid" data-bind="foreachGroups: reminders">
        <div class="card-wrap" data-bind="foreach: $data">
            <article data-bind="
                animateToState: editing() ? 'edit' : 'display', 
                initialState: 'display', 
                attr: { 
                    'class': 'card margin-bottom ' + $parent.spanClass 
                }, 
                css: { 
                    disabled: (!enabled() && !editing()) 
                }" >
                <div class="display">                                           
                    <div class="body">
                        <h2 data-bind="visible: name() != '', text: name">
                        </h2>
                        <button class="icon-menu-2 link-emulate" data-bind="click: $root.editReminder, invisible: $root.editing()"></button> 
                        <p data-bind="text: message" class="message">
                        </p>
                    </div>                    
                </div>
                <div class="edit">
                    <div class="body">                        
                        <textarea placeholder="Name" data-bind="value: name, expandingTextbox: true" class="name" rows="1" cols="1" ></textarea><br />
                        <textarea placeholder="Message" data-bind="value: message, expandingTextbox: true" rows="1" cols="1"></textarea>
                        <br />
                        <select data-bind="options: availableEvents, optionsText: 'text', optionsValue: 'value', value: actionId, optionsCaption: 'Select an action'">
                        </select><br />
                        <textarea placeholder="Wifi SSID" data-bind="value: ssid, visible: actionId() === 0 || actionId() === 1" class="ssid" rows="1" cols="1" ></textarea>
                        <div class="input-append bootstrap-timepicker">
                            <input type="text" class="input-small timepicker" placeholder="Start time" data-bind="value: startTime" /><span
                                class="add-on"><i class="icon-time"></i></span><br />
                        </div>
                        <div class="input-append bootstrap-timepicker">
                            <input type="text" class="input-small timepicker" placeholder="End time" data-bind="value: endTime" /><span
                                class="add-on"><i class="icon-time"></i></span>
                        </div>
                        <div class="days" data-bind="foreach: availableDays">
                            <span data-bind="text: name, click: $parent.dayClick, css: { selected: $parent.isSelectedDay($data) }">
                            </span>
                        </div>
                        <!--
                        <div>
                            <button data-bind="css: { on: enabled, 'on-off': true }, click: $root.enableReminder"></button>
                            <span class="icon-remove link-emulate float-right" data-bind="click: $root.deleteReminder"></span>
                        </div>
                        -->
                        <div class="enable-actions">
                            <button class="link-emulate" data-bind="click: $root.enableReminder"><i class="icon-checkbox-checked" data-bind="visible: enabled"></i><i data-bind="visible: !enabled()" class="icon-checkbox-unchecked"></i> Enabled</button>
                            <button class="link-emulate float-right" data-bind="click: $root.deleteReminder"><i class="icon-remove"></i> Delete</button>
                        </div>
                    </div>
                    <footer>
                        <span class="link-emulate" data-bind="click: $root.saveReminder">
                            Save</span>
                        <span class="link-emulate" data-bind="click: $root.cancelEdit">
                            Cancel</span>
                    </footer>
                </div>
            </article>
        </div>
    </section>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/models/reminder.js")"></script>
    <script src="@Url.Content("~/Scripts/viewmodels/index.js")"></script>
    <script src="@Url.Content("~/Scripts/view/index.js")"></script>
    <script src="@Url.Content("~/Scripts/sr.js")"></script>
}
