<!DOCTYPE html>
<!--<html manifest="@Url.Action("Manifest","Home")">-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/core")
</head>
<body>
    @RenderBody()
</body>
</html>
