@model BigShelf.Models.LoginModel
@{ ViewBag.Title = "Log In"; }

<h2>Log In</h2>
<p>Please enter your username and password. Demo: demo@microsoft.com / abc123</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="login-form">
        <legend>Login</legend>
        <div class="fieldgroup">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="fieldgroup">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>        
        <label for="Persistent">
            @Html.EditorFor(model => model.Persistent)
            Keep me logged in
            @Html.ValidationMessageFor(model => model.Persistent)
        </label>
    </fieldset>

    <p><button class="form-action" type="submit">Log In</button></p>
}
